<h1>All Comments</h1>

<p><strong><%= @link.title if @link %></strong></p>

<ul>
    <% @comments.each do |comment| %>
        <li>
            <%= comment.user.email %> about
            <%= link_to comment.link.title, link_path(comment.link) %>:
            <%= comment.body %>
        </li>
    <% end %>
</ul>