<h1>All Links</h1>

<ul>
<% @links.each do |link| %>
    <li>
        <%= pluralize(link.points, 'point') %> | 
        <% if signed_in? %>
                <%= link_to "▲", upvote_link_path(link), method: :post %>
        <% end %>
        <%= link_to link.title, link_path(link) %>
    </li>
<% end %>
</ul>