<h1>Link Show Page</h1>

<p>Read more: <%= link_to @link.title, @link.url %><p>

<p>Comments:<p>

<% if @link.comments %>
    <% @link.comments.each do |comment| %>
        <li><%= comment.body %></li>
    <% end %>
<% end %>

<% if current_user && current_user.owns_link?(@link) %>
    <p>
        You own this link:
        (<%= link_to 'Edit', edit_link_path(@link) %> or 
        <%= link_to 'Delete', link_path(@link), method: :delete %>)
    </p>
<% end %>