<h1><%= @community.title %> Links</h1>

<p><%= link_to  'Add a new ' + @community.title + ' link', new_community_link_path(@community) %></p>

<ul>
    <% @community.links.each do |link| %>
        <li><%= link_to link.title, link_path(link) %></li>
    <% end %>
</ul>